.projects-container{
 padding: 30px;
 background-image: url('../portfolio\ background.jfif');
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.projectcard{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8), -5px -5px 10px rgba(0,0,0,0.8);
    transition: 0.3s;
    background-color:#333;
    border-radius: 16px;
    padding:20px;
    color: ivory;
    text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.8), -2px -2px 4px rgba( 255, 255, 255, 0.4);  
    border: 3px solid ivory;
    
}

.projectcard:hover {
    transform: scale(1.1);
}


.projectcard img {
    border-radius: 16px;
    border: 3px solid ivory;
}

.card-details{
    padding: 2px 16px;
}

.card-details a {
    color: ivory;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    padding: 5px;
    border-radius: 16px;
    text-decoration:none;
    font-size: 20px;
    border: 3px solid ivory;
    
    
}
.card-details a:hover {
  background-color:white;
  color: black;

}