.home-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../portfolio\ background.jfif');

}

.image-container {
  flex: 1;
}

.image-container img {
   box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
   border-radius: 25%;
}

.home-details {
    flex: 2;
}

.home-details h1 {
   font-size: 50px;
}

.home-details p {
  font-size: 20px;
}

.home-details span {
  color: darkcyan;
}