.contact-container {
    padding: 30px;
    background-image: url('../portfolio\ background.jfif');
    
   
}

.contact-body {
  padding:30px ;

}

.contact-body a {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8), -5px -5px 10px rgba(0,0,0,0.8);
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: ivory;
    border-radius: 16px;
    background-color: #333;
    border: 3px solid ivory;
}

.contact-body a:hover {
    background-color: white;
    color: black;
}

.contact-body p { 
   
    padding: 30px;
    font-size: 95%;
    text-decoration: none;
    color: black;
    border-radius: 16px;
    text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.8), -2px -2px 4px rgba( 255, 255, 255, 0.4);  
    word-wrap: break-word;
}